
.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: "Lucida Console", "Courier New", monospace;
    
}
.conteneur {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  background: #f2f2f2;
  width: 30%;
  border: solid #243748;
  max-width: 350px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
.titre {
  text-align: center;
  background: #243748;
  color: #ffffff;
  height: 50px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forme {
  margin: 30px auto;
}

#bill,
#tip,
#number {
  background: #243748;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}
#totalbill,
#tipperperson,
#totatlperperson {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  text-align: center;
  height: 30px;
}

.bottom {
  height: 30px;
  border-radius: 5px;
  background: #243748;
  color: #ffffff;
  padding-left: 15px;
}

.btn-container {
  width: max-content;
  margin: 10px auto 10px auto;
}
.w3-btn {
  border: solid 1px #333333;
  box-shadow: 5px 5px 01px;
  background: #ffffff;
  border-radius: 15px 5px 15px 5px;
  padding: 5px 15px;
  outline: none;
  cursor: pointer;
}
.w3-btn:hover {
  background: #f2f2f2;
}
.w3-btn:active {
  background: #3f51b1;
  color: #ffffff;
  box-shadow: 2px 2px 1px #333333;
}
main a {
  color: #ffffff;
  border: solid 2px;
  background-color:#333333;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  .conteneur {
    width: 100%;
  }
}



/* nav style */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}